[Desktop Entry]
Name=ChiTransit
Comment=Shows CTA/PACE information
Type=Application
Exec=chitransit
Terminal=false
Categories=GTK;Applications
Icon=chitransit
