[Desktop Entry]
Name=ChiTransit
Comment=Shows CTA information
Type=Application
Exec=chitransit
Terminal=false
Categories=GTK;Applications
Icon=chitransit
